
<br>
<div class="jumbotron">
    <h1 class="Class-Text-Center">I-Access Solutions (Test)</h1>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>

<style type="text/css">
    .Class-Text-Center {
    text-align:center !important;    
    }
</style>